<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data
            android:name="com.jiangker.push.meizu.app_id"
            android:value="${MEIZU_APP_ID}" />
        <meta-data
            android:name="com.jiangker.push.meizu.app_key"
            android:value="${MEIZU_APP_KEY}" />

        <receiver
            android:name="com.jiangker.push.meizu.MeizuPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
