<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.jiangker.push.honor.HonorPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hihonor.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.jiangker.push.honor.app_id"
            android:value="${HONOR_APP_ID}" />
        <meta-data
            android:name="com.hihonor.push.app_id"
            android:value="${HONOR_APP_ID}" />
    </application>

</manifest>
